<header>
  <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand p-2" href="/">Mirage</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn text-white p-2" href="/profile">Profile</a>
        <button class="no-button btn text-white" id="logout">logout</button>
      </li>
  </nav>
</header>
<main class="">

<div class="center text-center p-5" >

  <form id="imageForm">
    <input class="p-2" id="imageInput" type="file" accept="image/*">
    <br>
    <button type="submit" class="btn btn-primary p-2">Upload</button>
  </form>
  <div class="p-2">
      <h3>Create a Post:</h3>

      <form class="form new-project-form">
          <div id="images">

          </div>
        <div class="form-group">
          <label for="project-desc">description:</label>
          <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
  </div>
  
</div>
</main>
<script src="/js/post.js"></script>
<script src="/js/logout.js"></script>